/* TAGS */
h1 {
  font-family: 'Shrikhand', cursive;
  font-size: 8rem;
}

h3 {
  font-size: 3rem;
  text-align: center;
}

label {
  font-size: 1.3em;
}

input {
  border-radius: 25px;
}

input[type="submit"] {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  font-family: 'Shrikhand', cursive;
  font-size: 3rem;
  letter-spacing: .2rem;
}

/* FORMATTING */
.inline-flex-container {
  display: inline-flex;
}

.flex-row {
  display: flex;
  max-width:100%;
}

.center-content {
  justify-content: center;
  align-content: center;
}

.center-item {
  align-items: center;
}

.column {
  flex-direction: column;
}

.flex-1 {
  flex: 1;
}

.half {
  width: 50%;
  margin-left: 25%;
}

.leftSpaceM {
  padding-left: .83em;
}

.leftSpaceL {
  padding-left: 2em;
}
.rightSpaceM {
  padding-right: .83em;
}
.topSpaceL {
  padding-top: 1.3em;
}

.topSpaceM {
  padding-top: .833em;
}

.topSpaceS {
  padding-top: .3em;
}

.bottomSpaceM {
  padding-bottom: .833em;
}

/* COMPONENTS */

.cards {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
}

.card {
  flex: 0 0 250px;
  padding-top:2em;
  padding: 0;
  border-radius: 12px;
  margin: 2em .3em 2em 2em;
}

.cardTitle {
  border-radius: 12px;
  font-size: 1.5rem;
  padding: .33rem;
}

.blueShadow {
    box-shadow: -6px -4px 10px rgba(69, 67, 86, 0.3), -5px -3px 5px rgba(51, 122, 183, .8), -3px -1px 5px rgba(69, 67, 86, 0.5);
}

.redShadow {
    box-shadow: -6px -4px 10px rgba(69, 67, 86, 0.3), -5px -3px 5px rgba(255, 30, 30, .8), -3px -1px 5px rgba(69, 67, 86, 0.5);
}

.grayShadow {
      box-shadow: -6px -4px 10px rgba(69, 67, 86, 0.3), -3px -1px 5px rgba(69, 67, 86, 0.5);
}

.twitter {
  font-weight:bold;
  color: rgba(163, 226, 255, 1);
}

.darkBox {
  background-color: rgba(69, 67, 86, 0.75);
  color:white;
}

.darkerBox {
  background-color:black;
}

.profileImage {
  border-radius: 50%;
  max-width:100%;
  max-height:33vh;
  padding: 1rem .3rem;
}
