h1 {
  font-family: 'Shrikhand', cursive;
  font-size: 8em;
}

label {
  font-size: 1.3em;
}

/* FORMATTING */
.inline-flex-container {
  display: inline-flex;
}

.flex-row {
  display: flex;
}

.center-content {
  justify-content: center;
  align-content: center;
}

.center-item {
  align-items: center;
}

.column {
  flex-direction: column;
}

.flex-1 {
  flex-grow: 1;
}

.half {
  width: 50%;
  margin-left: 25%;
}

.twitter {
  font-weight:bold;
  color: rgba(163, 226, 255, 1);
}

.rowFormat {
  padding: 1.3em;
  border-radius: 25px;
  margin-right:2em;
  margin-left: 2em;
  margin-top: .3em;
}

.form-group {
  color:black;
}

.leftSpaceM {
  padding-left: .83em;
}

.leftSpaceL {
  padding-left: 2em;
}
.rightSpaceM {
  padding-right: .83em;
}
.topSpaceL {
  padding-top: 1.3em;
}

.topSpaceM {
  padding-top: .833em;
}

.topSpaceS {
  padding-top: .3em;
}

.bottomSpaceM {
  padding-bottom: .833em;
}

.doubleTop {
  border-top: thick double black;
}

.darkBox {
  background-color: rgba(69, 67, 86, 0.75);
  color:white;
}

.darkerBox {
  background-color:black;
}
